<div class="local-navi">	

	<h2>はじめに</h2>
	<ul>
		<li><a href="/5/">ようこそ</a>
			<ul>
				<li><a href="/5/functions">機能一覧</a></li>
				<li><a href="/5/market">baserマーケット</a></li>
				<li><a href="/5/sitemap">サイトマップ</a></li>
			</ul>
		</li>
		<li><a href="/5/quick_start">クイックスタート</a></li>
		<li><a href="/5/quick_start">baserCMS５ツアー</a>
			<ul>
				<li><a href="/5/ver5_tour/custom_content">カスタムコンテンツ</a></li>
				<li><a href="/5/ver5_tour/rest_api">REST API</a></li>
				<li><a href="/5/ver5_tour/access_rule">アクセスルール</a></li>
				<li><a href="/5/ver5_tour/auto_update">オートアップデート</a></li>
			</ul>
		</li>
	</ul>
		
	<h2>導入</h2>
	<ul>
		<li><a href="/5/introduce/">インストールガイド</a>
			<ul>
				<li><a href="/5/introduce/easy_install">簡単インストール</a></li>
				<li><a href="/5/introduce/install">サーバーにインストールする</a></li>
				<li><a href="/5/introduce/system_requirements">システム要件</a></li>
				<li><a href="/5/introduce/build_local_env">ローカル環境を構築する</a></li>
				<li><a href="/5/introduce/use_for_cakephp">CakePHPのプロジェクトで利用する</a></li>
				<li><a href="/5/introduce/env_setting">環境設定</a></li>
				<li><a href="/5/introduce/coexist_with_wordpress">WordPressとの共存</a></li>
			</ul>
		</li>
		<li><a href="/5/theme/">テーマガイド</a>
			<ul>
				<li><a href="/5/theme/glossary">テーマ用語集</a></li>
				<li><a href="/5/theme/develop_theme">独自のテーマを作成する</a></li>
				<li><a href="/5/theme/folder">テーマの構造</a></li>
				<li><a href="/5/theme/file_priority">ファイル読み込みの優先順位</a></li>
				<li><a href="/5/theme/customizing_template">テンプレートのカスタマイズ</a></li>
				<li><a href="/5/theme/reference/">関数リファレンス</a></li>
				<li><a href="/5/theme/original_helper">独自ヘルパ</a></li>
				<li><a href="/5/theme/short_code">ショートコード</a></li>
				<li><a href="/5/theme/dashboard">ダッシュボード拡張</a></li>
				<li><a href="/5/theme/initial_data">初期データ</a></li>
			</ul>
		</li>
		<li><a href="/5/plugin/">プラグインガイド</a>
			<ul>
				<li><a href="/5/plugin/develop_plugin">独自のプラグインを作成する</a></li>
				<li><a href="/5/plugin/api">API ドキュメント</a></li>
				<li><a href="/5/plugin/debug">デバッグ方法</a></li>
				<li><a href="/5/plugin/application_setting">アプリケーション設定</a></li>
				<li><a href="/5/plugin/menu">メニュー設定</a></li>
				<li><a href="/5/plugin/toolbar">ツールバー設定</a></li>
				<li><a href="/5/plugin/help">ヘルプの設定</a></li>
				<li><a href="/5/plugin/system_message.md">システムメッセージ</a></li>
				<li><a href="/5/plugin/event">イベント</a></li>
				<li><a href="/5/plugin/helper_extension">ヘルパー拡張</a></li>
				<li><a href="/5/plugin/contents_manage_api">コンテンツ管理API</a></li>
				<li><a href="/5/plugin/admin_css_auto_load">管理画面CSS自動読み込み</a></li>
				<li><a href="/5/plugin/search_index">検索インデックス</a></li>
				<li><a href="/5/plugin/file_upload">ファイルアップロード</a></li>
				<li><a href="/5/plugin/ckeditor_draft">CKEditor草稿対応</a></li>
				<li><a href="/5/plugin/preview">プレビュー</a></li>
				<li><a href="/5/plugin/access_rule">アクセスルール</a></li>
				<li><a href="/5/plugin/prefix_auth">プレフィックス認証</a></li>
				<li><a href="/5/plugin/mypage">マイページの開発</a></li>
				<li><a href="/5/plugin/customizing_admin_theme">管理画面テーマカスタマイズ</a></li>
				<li><a href="/5/plugin/updater">アップデートスクリプト</a></li>
			</ul>
		</li>
		<li><a href="/5/web_api/">Web API ガイド</a>
			<ul>
				<li><a href="/5/web_api/baser_api/">baser API</a></li>
				<li><a href="/5/web_api/develop_api">独自のWeb API の開発</a></li>
			</ul>
		</li>
		<li><a href="/5/cli/">CLI ガイド</a></li>
		<li><a href="/5/trouble/">困った時ガイド</a>
			<ul>
				<li><a href="/5/trouble/reverse_guide/index">逆引きガイド</a></li>
				<li><a href="/5/trouble/troubleshooting">トラブルシューティング</a></li>
			</ul>
		</li>
	</ul>
	
	<h2>運用</h2>
	<ul>
		<li><a href="/5/operation/">運用ガイド</a>
			<ul>
				<li><a href="/5/operation/application/user">ユーザー管理</a></li>
				<li><a href="/5/operation/application/user_group">ユーザーグループ管理</a></li>
				<li><a href="/5/operation/application/access_rule">アクセスルール管理</a></li>
				<li><a href="/5/operation/application/favorite">お気に入り</a></li>
				<li><a href="/5/operation/application/contents">コンテンツ管理</a></li>
				<li><a href="/5/operation/application/search_index">検索インデックス管理</a></li>
				<li><a href="/5/operation/application/widget_area">ウィジェットエリア管理</a></li>
				<li><a href="/5/operation/application/editor_template">エディターテンプレート管理</a></li>
				<li><a href="/5/operation/application/theme_config">テーマ設定</a></li>
				<li><a href="/5/operation/application/theme_file">テーマファイル管理</a></li>
				<li><a href="/5/operation/application/server_cache">サーバーキャッシュ</a></li>
			</ul>		
		</li>
		<li><a href="/5/operation/move_to_another">別環境への移設</a></li>
		<li><a href="/5/operation/update">バージョンアップガイド</a>
			<ul>
				<li><a href="/5/operation/life_cycle">ライフサイクル</a></li>
			</ul>		
		</li>
	</ul>
	
	<h2>参加・貢献</h2>
	<ul>
		<li><a href="">コンセプト・基本方針</a></li>
		<li><a href="">パッケージ概要</a></li>
		<li><a href="">規約</a></li>
		<li><a href="">開発者として参加・貢献する</a></li>
		<li><a href="">開発以外の方法で参加・貢献する</a></li>
		<li><a href="">公式GitHubコラボレーター向けドキュメント</a></li>
		<li><a href="">リソース</a></li>
	</ul>
</div>
