<p>{{ site.description | default: site.github.project_tagline }}</p>

<div class="local-navi">
	<h2>baserCMSを導入する</h2>
	<ul>
		<li><a href="">機能・仕様</a></li>
		<li><a href="">インストール</a></li>
		<li><a href="">テーマの利用</a></li>
		<li><a href="">プラグインの利用</a></li>
		<li><a href="">テーマを作成する</a></li>
		<li><a href="">プラグインを開発する</a></li>
		<li><a href="">プラグイン・テーマを配布する</a></li>
		<li><a href="">APIを利用する</a></li>
		<li><a href="">デプロイ</a></li>
	</ul>
	<h2>baserCMSの開発に参加・貢献する</h2>
	<ul>
		<li><a href="">コンセプト・基本方針</a></li>
		<li><a href="">パッケージ概要</a></li>
		<li><a href="">規約</a></li>
		<li><a href="">開発者として参加・貢献する</a></li>
		<li><a href="">開発以外の方法で参加・貢献する</a></li>
		<li><a href="">公式GitHubコラボレーター向けドキュメント</a></li>
		<li><a href="">リソース</a></li>
	</ul>
</div>
