<h2>はじめに</h2>
<ul>
	<li><a href="/5/">ようこそ</a>
		<ul>
			<li><a href="/5/market">baserマーケット</a></li>
		</ul>
	</li>
	<li><a href="/5/functions/">機能</a>
		<ul>
			<li><a href="/5/functions/bc-custom-content/">カスタムコンテンツ</a></li>
			<li><a href="/5/functions/baser-core/rest_api">REST API</a></li>
			<li><a href="/5/functions/baser-core/access_rule">アクセスルール</a></li>
			<li><a href="/5/functions/baser-core/auto_update">オートアップデート</a></li>
		</ul>
	</li>
	<li><a href="/5/quick_start">クイックスタート</a></li>
	<li><a href="/5/ver5_tour">baserCMS５ツアー</a></li>
	<li><a href="/5/ver5_migration">アップグレードガイド</a></li>
</ul>
	
<h2>導入</h2>
<ul>
	<li><a href="/5/introduce/">インストールガイド</a>
		<ul>
			<li><a href="/5/introduce/system_requirements">システム要件</a></li>
			<li><a href="/5/introduce/hosting">ホスティングで利用する</a></li>
			<li><a href="/5/introduce/build_local_env">ローカル環境で利用する</a></li>
			<li><a href="/5/introduce/use_for_cakephp">CakePHPのプロジェクトで利用する</a></li>
			<li><a href="/5/introduce/easy_install">簡単インストール</a></li>
			<li><a href="/5/introduce/env_setting">環境設定</a></li>
			<li><a href="/5/introduce/coexist_with_wordpress">WordPressとの共存</a></li>
		</ul>
	</li>
	<li><a href="/5/theme/">テーマガイド</a>
		<ul>
			<li><a href="/5/theme/glossary">テーマ用語集</a></li>
			<li><a href="/5/theme/develop_theme">独自のテーマを作成する</a></li>
			<li><a href="/5/theme/folder">テーマの構造</a></li>
			<li><a href="/5/theme/file_priority">ファイル読み込みの優先順位</a></li>
			<li><a href="/5/theme/customizing_template">テンプレートのカスタマイズ</a></li>
			<li><a href="/5/theme/reference/">テーマ関数リファレンス</a></li>
			<li><a href="/5/theme/theme_bootstrap">テーマブートストラップ</a></li>
			<li><a href="/5/theme/theme_helper">テーマヘルパー</a></li>
			<li><a href="/5/theme/theme_plugin">テーマプラグイン</a></li>
			<li><a href="/5/theme/short_code">ショートコード</a></li>
			<li><a href="/5/theme/dashboard">ダッシュボード拡張</a></li>
			<li><a href="/5/theme/initial_data">初期データ</a></li>
			<li><a href="/5/theme/migration_theme_from_ver4">baserCMS４のテーマを変換</a></li>
		</ul>
	</li>
	<li><a href="/5/plugin/">プラグインガイド</a>
		<ul>
			<li><a href="/5/plugin/develop_plugin">独自のプラグインを作成する</a></li>
			<li><a href="/5/plugin/reference/" target="_blank">クラスリファレンス</a></li>
			<li><a href="/5/plugin/debug">デバッグ方法</a></li>
			<li><a href="/5/plugin/application_setting">アプリケーション設定</a></li>
			<li><a href="/5/plugin/menu">メニュー設定</a></li>
			<li><a href="/5/plugin/toolbar">ツールバー設定</a></li>
			<li><a href="/5/plugin/help">ヘルプの設定</a></li>
			<li><a href="/5/plugin/system_message">システムメッセージ</a></li>
			<li><a href="/5/plugin/event">イベント</a></li>
			<li><a href="/5/plugin/contents_manage_api">コンテンツマネージャーAPI</a></li>
			<li><a href="/5/plugin/admin_css_auto_load">管理システムCSS自動読み込み</a></li>
			<li><a href="/5/plugin/helper_extension">BcBaser統合ヘルパ</a></li>
			<li><a href="/5/plugin/search_index">検索インデックス</a></li>
			<li><a href="/5/plugin/file_upload">ファイルアップロード</a></li>
			<li><a href="/5/plugin/ckeditor_draft">CKEditorの利用</a></li>
			<li><a href="/5/plugin/preview">プレビュー</a></li>
			<li><a href="/5/plugin/access_rule">アクセスルール</a></li>
			<li><a href="/5/plugin/front_auth">フロントページ認証</a></li>
			<li><a href="/5/plugin/prefix_auth">プレフィックス認証</a></li>
			<li><a href="/5/plugin/mypage">マイページの開発</a></li>
			<li><a href="/5/plugin/customizing_admin_theme">管理システムテーマカスタマイズ</a></li>
		</ul>
	</li>
	<li><a href="/5/web_api/">Web API ガイド</a>
		<ul>
			<li><a href="/5/web_api/baser_api/">baser API</a></li>
			<li><a href="/5/web_api/baser_admin_api/">baser Admin API</a></li>
			<li><a href="/5/web_api/develop_api">独自のWeb API の開発</a></li>
		</ul>
	</li>
	<li><a href="/5/cli/">CLI ガイド</a></li>
	<li><a href="/5/trouble/">困った時ガイド</a>
		<ul>
			<li><a href="/5/trouble/reverse_guide/">逆引きガイド</a></li>
			<li><a href="/5/trouble/troubleshooting">トラブルシューティング</a></li>
		</ul>
	</li>
</ul>

<h2>運用</h2>
<ul>
	<li><a href="/5/operation/">運用ガイド</a>
		<ul>
			<li><a href="/5/operation/application/user">ユーザー管理</a></li>
			<li><a href="/5/operation/application/user_group">ユーザーグループ管理</a></li>
			<li><a href="/5/operation/application/access_rule">アクセスルール管理</a></li>
			<li><a href="/5/operation/application/favorite">お気に入り</a></li>
			<li><a href="/5/operation/application/contents">コンテンツ管理</a></li>
			<li><a href="/5/operation/application/search_index">検索インデックス管理</a></li>
			<li><a href="/5/operation/application/widget_area">ウィジェットエリア管理</a></li>
			<li><a href="/5/operation/application/editor_template">エディターテンプレート管理</a></li>
			<li><a href="/5/operation/application/theme_config">テーマ設定</a></li>
			<li><a href="/5/operation/application/theme_file">テーマファイル管理</a></li>
			<li><a href="/5/operation/application/server_cache">サーバーキャッシュ</a></li>
		</ul>		
	</li>
	<li><a href="/5/operation/move_to_another">別環境への移設</a></li>
	<li><a href="/5/operation/update">バージョンアップガイド</a>
		<ul>
			<li><a href="/5/operation/life_cycle">ライフサイクル</a></li>
		</ul>		
	</li>
</ul>

<h2>参加・貢献</h2>
<ul>
	<li><a href="/5/contribution/">参加・貢献ガイド</a>
		<ul>
			<li><a href="/5/contribution/policy">コンセプト・基本方針</a></li>
		</ul>
	</li>
	<li><a href="/5/package/">パッケージ概要</a>
		<ul>
			<li><a href="/5/package/architecture">アーキテクチャー</a></li>
			<li><a href="/5/package/database">データベース構造</a></li>
			<li><a href="/5/package/directory_structure">ディレクトリ構成</a></li>
			<li><a href="/5/package/specification/">設計書</a></li>
		</ul>
	</li>
	<li><a href="/5/terms/">規約</a>
		<ul>
			<li><a href="/5/terms/version">バージョン番号</a></li>
			<li><a href="/5/terms/coding">コーディング規約</a></li>
			<li><a href="/5/terms/refactoring">リファクタリング方針</a></li>
			<li><a href="/5/terms/user_interface_design">ユーザーインターフェイス設計方針</a></li>
			<li><a href="/5/terms/deprecated">非推奨処理の対応方針</a></li>
		</ul>
	</li>
</ul>

<ul>
	<li><a href="/5/contribution_developer/">開発者として参加・貢献する</a>
		<ul>
			<li><a href="/5/contribution_developer/cycle">開発サイクル</a></li>
			<li><a href="/5/contribution_developer/merit">開発へ参加するメリット</a></li>
			<li><a href="/5/contribution_developer/participation">開発への参加方法</a></li>
			<li><a href="/5/contribution_developer/devlop">開発手順</a></li>
		</ul>
	</li>
	<li><a href="/5/core/">コアの開発</a>
		<ul>
			<li><a href="/5/core/difference_from_basercms4">baserCMS４からの変更点</a></li>
			<li><a href="/5/core/unittest/">ユニットテスト</a></li>
			<li><a href="/5/core/docker">Docker環境の管理</a></li>
			<li><a href="/5/core/problem">既知の問題点</a></li>
			<li><a href="/5/core/troubleshooting">トラブルシューティング</a></li>
		</ul>
	</li>
	<li><a href="/5/core_theme/">コアテーマの開発</a>
		<ul>
			<li><a href="/5/core_theme/admin_theme">BcAdminThirdの開発</a></li>
			<li><a href="/5/core_theme/front_theme">BcFrontの開発</a></li>
			<li><a href="/5/core_theme/css">CSSの作成</a></li>
			<li><a href="/5/core_theme/javascript">Javascriptの作成</a></li>
		</ul>
	</li>
	<li><a href="/5/core_plugin/">コアプラグインの開発</a>
		<ul>
			<li><a href="/5/core_plugin/updaer">アップデートスクリプト</a></li>
			<li><a href="/5/core_plugin/schema_change">データベースの構造変更</a></li>
		</ul>
	</li>
</ul>

<ul>
	<li><a href="/5/contribution_etc/">開発以外の方法で参加・貢献する</a>
		<ul>
			<li><a href="/5/contribution_etc/feedback">フィードバックガイドライン</a></li>
		</ul>
	</li>
	<li><a href="/5/doc_writing/">ドキュメントの作成・更新</a>
		<ul>
			<li><a href="/5/doc_writing/document_writing_rules">ドキュメント校正ルール</a></li>
			<li><a href="/5/doc_writing/plantuml">PlantUMLの利用方法</a></li>
			<li><a href="/5/doc_writing/api_document_writing_rules">APIドキュメント校正ルール</a></li>
			<li><a href="/5/doc_writing/api_document_writing_manual">APIドキュメント作成マニュアル</a></li>
			<li><a href="/5/doc_writing/create_pull_request_on_github">GitHub上で直接編集する</a></li>
		</ul>
	</li>
	<li><a href="/5/i18n/">国際化</a></li>
</ul>

<ul>
	<li><a href="/5/collaborator/">コラボレーターガイド</a>
		<ul>
			<li><a href="/5/collaborator/issue_driven">Issue駆動開発</a></li>
			<li><a href="/5/collaborator/milestone_meeting">マイルストーンミーティング</a></li>
			<li><a href="/5/collaborator/label_operation">ラベル運用ガイドライン</a></li>
			<li><a href="/5/collaborator/pull_request">プルリクエスト対応手順</a></li>
			<li><a href="/5/collaborator/release">リリース手順</a></li>
		</ul>
	</li>
</ul>

<h2>リソース</h2>
<ul>
	<li><a href="https://basercms.net" target="_blank">baserCMS公式サイト</a></li>
	<li><a href="https://basercms.net/community/" target="_blank">baserCMSコミュニティ</a></li>
	<li><a href="https://forum.basercms.net" target="_blank">baserCMSユーザーズフォーラム</a></li>
	<li><a href="https://market.basercms.net" target="_blank">baserマーケット</a></li>
	<li><a href="https://magazine.basercms.net" target="_blank">basersマガジン</a></li>
	<li><a href="https://github.com/baserproject/basercms" target="_blank">baserCMSのGitHub</a></li>
</ul>

