a:hover, a:focus {
  font-weight: normal;
}
h1 a:hover, h1 a:focus {
  font-weight: bold;
}
body {
  color: #333;
}
code {
  padding: 0 2px;
  background: #f8f8f8;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}
.wrapper {
  width: 1160px;
  margin: 0;
}

/* header */
header {
  position: relative;
  margin-right: 30px;
}
header h1 a {
  background: url(../img/logo.svg) no-repeat;
  background-size: 40px;
  padding-left: 50px;
  font-size: 18px;
  display: block;
}
ul {
  padding: 0 0 0 20px;
}
.toc > ul {
  border-top: 1px solid #ccc;
  padding: 20px !important;
}
.toc ul {
  margin: 0;
  padding: 0 0 0 20px;
}

/* section */
section {
  font-size: 16px;
  width: 860px;
  float: left;
}
.crumbs {
  margin-bottom: 20px;
}
section h1 {
  margin-bottom: 30px;
}
section h2 {
  margin-bottom: 30px;
}
section pre {
  font-size: 14px;
}

code {
  background-color: #ecece9;
  padding: 0 3px;
}

@media print, screen and (max-width: 1220px) {
  section {
    width: 700px;
  }
  header h1 a {
    background-size: 20px;
    padding-left: 25px;
  }
}
@media print, screen and (max-width: 1000px) {
  header, section, footer {
    float: none;
    position: static;
    width: auto;
  }
  body {
    word-wrap:break-word
  }
  section {
    width: auto;
  }
  header {
    padding: 0
  }
  header ul,header p.view {
    position: static
  }
  pre,code {
    word-wrap: normal
  }
}
